<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div id="logo">
    <p>AMSTERDAM COLORS</p>
  </div>
</header>

  <nav>
    <ul class="nav">
      <li id="browsegalls"><a href="/gallery/all/{{id}}">Browse galleries</a></li>
      <li id="browseuser"><a href="/user/{{id}}">Browse your gallery</a></li>
      <li id="logoutli"><a href="/sessions/logout">Logout</a></li>
    </ul>
  </nav>
<div class="selection"></div>
<div class="container">
    <h1>Select a search color</h1>
<!--  <h1>!!!{{id}}</h1> -->

  <form id="search">
    <select id="search-type">
      <option id="yellow" value="FFEB00">Yellow</option>
      <option id="blue" value="4019B1">Blue</option>
      <option id="green" value="367614">Green</option>
      <option id="maroon" value="981313">Maroon</option>
      <option id="cream" value="FBF6E1">Cream</option>
      <option id="orange" value="B35A1F">Orange</option>
      <option id="red" value="DE4153">Red</option>
      <option id="gray" value="B5BFCC">Gray</option>

    </select>
    <input id="submit" type="submit" value="Submit">
  </form>

      <h1>Once you've picked a color, click an image to see its palette and decide whether to add it to the gallery</h1>

<div class="browsegal">
  <ul id="userul" data-id="{{id}}"></ul>
</div>



</div>
</body>
<script src="/js/jquery.js"></script>
<script src="/js/script.js"></script>
</html>
