<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div id="logo">
    <p>AMSTERDAM COLORS</p>
  </div>
</header>
  <nav>
    <ul class="nav">
      <li id="browsecolors"><a href="/browse/{{id}}">Browse colors</a></li>
      <li id="browsegalls"><a href="/gallery/all/{{id}}">Browse galleries</a></li>
      <li id="logoutli"><a href="/sessions/logout">Logout</a></li>
    </ul>
  </nav>

<div class="container">
<h1 id="usedelet" data-id="{{id}}">These are the objects and palettes that you selected</h1>

{{#gallery_data.gallery}}
<div class="deletediv">

<button class="deletepicture" data-id="{{picid}}">remove</button>
<img src="{{picurl}}"/>

<br>

<div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex1}}"></div><br/><p>{{hex1}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex2}}"></div><br/><p>{{hex2}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex3}}"></div><br/><p>{{hex3}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex4}}"></div><br/><p>{{hex4}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex5}}"></div><br/><p>{{hex5}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex6}}"></div><br/><p>{{hex6}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex7}}"></div><br/><p>{{hex7}}</p></div>
  <div class="swatchwithhex"><div class="gswatch" style="background-color:{{hex8}}"></div><br/><p>{{hex8}}</p></div>
</div>


</div>
{{/gallery_data.gallery}}
</div>

</body>
<script src="/js/jquery.js"></script>
<script src="/js/script.js"></script>
</html>
