<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
</head>
<body>
<header>
  <div id="logo">
    <p>AMSTERDAM COLORS</p>
  </div>
</header>
<div class="container">
  <h1>Welcome to Amsterdam colors</h1>
  <p>Amsterdam colors is intended to help designers coordinate color pallettes</p>
  <p>Browse the collection of the Rijksmuseum, searching by color</p>
  <p>If you find a piece with an attractive color combination, click it to view the colors used in the image</p>
  <p>If you'd like to save images, click them to add them to you personal gallery</p>
  <p>You can also view what items other have selected</p>
  <p>All items in the gallery include hex codes for colors displayed</p>

<!--   <h3>*****{{data.id}}</h3>
  <h3>{{email}}</h3> -->
  <h3><a href="browse/{{data.id}}">Browse the collection</a></h3>
  <h3><a href="user/{{data.id}}">Review your gallery</a></h3>
  <h3><a href="gallery/all/{{data.id}}">See what others have selected</a></h3>
</div>


</body>
</html>
