<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<header>
  <div id="logo">
    <p>AMSTERDAM COLORS</p>
  </div>
</header>
  <nav>
    <ul class="nav">
      <li id="browsecolors"><a href="/browse/{{id}}">Browse colors</a></li>
      <li id="browseuser"><a href="/user/{{id}}">Browse your gallery</a></li>
      <li id="logoutli"><a href="/sessions/logout">Logout</a></li>
    </ul>
  </nav>
<div class="container">

  <h1>Thank you for logging in</h1>
  <br>
  <h1>Amseterdam Colors is a tool intended to help designers create attractive color palettes.</h1>

  <h3 id="indexlink"><a href="/gallery">Continue</a></h3>

</div>
</body>
</html>
