body {
  background-image: url(/images/background.jpg);
}

img {
  height: 15%;
  width: 15%;
}

/* ul {
  list-style: none;
} */

li {
  display: inline-block;
  float: left;
}

ul {
  list-style-type: none;
}

.swatch {
  height: 50px;
  width: 50px;
}

.selection {
  width: 60vw;
  float: left;
}

.selectSwatch {
  width: 15vw;
  height: 15vw;
  display: inline-block;
}

