body {
  background-image: url(/images/background.jpg);
}

img {
  height: 15%;
  width: 15%;
}

h1 {
  clear: both;
}
/* ul {
  list-style: none;
} */

li {
  display: inline-block;
  float: left;
}

ul {
  list-style-type: none;
}

.swatch {
  height: 50px;
  width: 50px;
}

.selection {
  width: 60vw;
  float: left;
  clear: both;
}

.selectSwatch {
  width: 15vw;
  height: 15vw;
  display: inline-block;
}

.gswatch {
  height: 50px;
  width: 50px;
  display: inline-block;
}

#browsecolors {
  background-color: #a9a9a9;
  display: inline-block;
  float: left;
  width: 15vw;
  height: 15vw;

}

#browsegalls {
  background-color: #a9a9a9;
  display: inline-block;
  float: left;
  width: 15vw;
  height: 15vw;
}

#browseuser {
  background-color: #a9a9a9;
  display: inline-block;
  float: left;
  width: 15vw;
  height: 15vw;
}

#logoutli {
  background-color: #a9a9a9;
  display: inline-block;
  float: left;
  width: 15vw;
  height: 15vw;
}

.gallswatches {
  display: inline-block;
}

